html,body
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.label
{
	text-align: center;
	color: red;
	font-size: 0.8em;
	margin-top: 5px;
}
.swipe
{
	height:60px;
	width: 100%;
	border: 0px solid black;
	position: absolute;
	bottom: 50px;	
	     /*设置背景透明*/
}
.swipe a
{
	font-size: 0.5em;
}